@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  0% {
    transform: translateX(300%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  display: inline-block;
  white-space: nowrap;
  animation: slide 15s linear infinite;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.news-card {
  overflow: hidden; /* Prevent the image from overflowing */
  position: relative;
}

.news-card img {
  transition: transform 0.3s ease;
  width: 200px; /* Smooth transition */
}

.news-card:hover img {
  transform: scale(1.02); /* Zoom in the image */
}